{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

{% if path is not empty and is_empty_files_list(files) %}
<div class="monsieurbiz-sylius-file-manager__item monsieurbiz-sylius-file-manager__item-new-folder mb-1">
    <div
        class="monsieurbiz-sylius-file-manager__new-folder-label btn btn-sm"
        onclick="monsieurbizSyliusMediaManagerDeleteFolder('{{ inputName | escape('js') }}', '{{ folder | escape('js')}}', '{{ path | escape('js')}}', '{{ 'monsieurbiz_sylius_media_manager.ui.delete_folder_confirm' | trans({'%path%': path}) | escape('js')}}')"
    >
        {{ icon({ icon: 'trash_x', class: 'icon' }) }} {{ 'monsieurbiz_sylius_media_manager.ui.delete_folder' | trans }}
    </div>
</div>
{% endif %}
