{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

<div class="monsieurbiz-sylius-file-manager__item monsieurbiz-sylius-file-manager__item-new-folder mb-1">
    {# Button to create folder #}
    <button
        class="monsieurbiz-sylius-file-manager__new-folder-label btn btn-sm"
        style="max-width: 200px;"
        onclick="this.classList.add('d-none');this.parentNode.querySelector('.monsieurbiz-sylius-file-manager__new-folder').classList.remove('d-none');"
    >
        {{ icon({ icon: 'plus', class: 'icon' }) }} {{ 'monsieurbiz_sylius_media_manager.ui.create_folder' | trans }}
    </button>

    {# Form to create folder #}
    <div class="monsieurbiz-sylius-file-manager__new-folder input-group input-group-sm d-none">
        <input type="text" name="folder" class="form-control" style="max-width: 200px;height:28px; width: auto;"/>
        <div
            class="btn btn"
            onclick="monsieurbizSyliusMediaManagerCreateFolder(this.parentNode.querySelector('input'), '{{ inputName | escape('js') }}', '{{ folder | escape('js')}}', '{{ path | escape('js')}}')"
        >
            {{ 'monsieurbiz_sylius_media_manager.ui.create' | trans }}
        </div>
        <div
            class="btn btn-warning"
            onclick="this.parentNode.parentNode.querySelector('.monsieurbiz-sylius-file-manager__new-folder').classList.add('d-none');this.parentNode.parentNode.querySelector('.monsieurbiz-sylius-file-manager__new-folder-label').classList.remove('d-none');"
        >
                {{ 'monsieurbiz_sylius_media_manager.ui.cancel' | trans }}
        </div>
    </div>
</div>



