{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

{% if path is not empty %}
    <div class="container">
        <div class="item monsieurbiz-sylius-file-manager__item monsieurbiz-sylius-file-manager__item-rename-folder">
            <button
                    class="monsieurbiz-sylius-file-manager__rename-folder-label btn btn-sm d-none"
                    style="max-width: 200px;color: white;"
                    onclick=";this.parentNode.querySelector('.monsieurbiz-sylius-file-manager__rename-folder').classList.remove('d-none');this.parentNode.querySelector('.monsieurbiz-sylius-file-manager__rename-folder input').focus();"
            >
                {{ icon({ icon: 'plus', class: 'icon' }) }} {{ 'monsieurbiz_sylius_media_manager.ui.rename_folder' | trans }}
            </button>

            {# Form to rename folder #}
            <div class="monsieurbiz-sylius-file-manager__rename-folder input-group input-group-sm d-none">
                <input type="text" name="folder" class="form-control" style="max-width: 200px;height:28px;width: auto;"/>
                <div
                        class="btn btn"
                        onclick="monsieurbizSyliusMediaManagerRenameFolder(this.parentNode.querySelector('input'), '{{ inputName | escape('js') }}', '{{ folder | escape('js')}}', '{{ path | escape('js')}}', '{{ 'monsieurbiz_sylius_media_manager.ui.rename_folder_confirm'| trans({'%path%': path}) | escape('js') }}', '{{ 'monsieurbiz_sylius_media_manager.ui.rename_folder_confirm_bis'| trans() }}')"
                >
                    {{ 'monsieurbiz_sylius_media_manager.ui.rename' | trans }}
                </div>
                <div
                        class="btn btn-warning"
                        onclick="this.parentNode.parentNode.querySelector('.monsieurbiz-sylius-file-manager__rename-folder').classList.add('d-none');this.parentNode.parentNode.querySelector('.monsieurbiz-sylius-file-manager__rename-folder-label').classList.remove='d-none';"
                >
                    {{ 'monsieurbiz_sylius_media_manager.ui.cancel' | trans }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
