{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

{% if file.isFile %}
    <div
        class="monsieurbiz-sylius-file-manager__new-folder-label btn btn-sm"
        style="max-width: 200px;"
        onclick="monsieurbizSyliusMediaManagerDeleteFile('{{ inputName | escape('js') }}', '{{ folder | escape('js')}}', '{{ file.path | escape('js')}}', '{{ 'monsieurbiz_sylius_media_manager.ui.delete_file_confirm' | trans({'%path%': file.name}) | escape('js')}}', '{{ 'monsieurbiz_sylius_media_manager.ui.delete_file_confirm_bis' | trans({'%path%': file.name}) | escape('js')}}')"
    >
        {{ icon({ icon: 'trash_x', class: 'icon' }) }}
    </div>
{% endif %}
